@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar {
  background: #6C99B6;
}

::-webkit-scrollbar-thumb {
  background: #888;

}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  min-width: 20px;
}

::-webkit-scrollbar-button {
  background: #6C99B6;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #dcdcdc;
}